.DS_Store
.AppleDouble
.LSOverride
.idea

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.ipynb_checkpoints
__pycache__
*.log
*.pyc
